/* @import url('https://numoder.github.io/dsn10-theme/dsn10-icons.css'); */
/* font */
:root {
  /* general */
  --text-primary: #000;
  --accent-color: #0042a5;
  --accent-color-selected: #317df7;
  --background-color: #5a7edc;
  --background-modifier-selected: transparent;


    /* tooltip */
  --tooltip-background: #ffffe1;
  --tooltip-border: #000;
  --menu-border: #aca899;


  /* profile */
  --profile-background: #768eca;
  --profile-font-color: rgb(255, 255, 255);
  --profile-border: whitesmoke;
  --avatar-profile-border-color: black;

  /* fonts */
  --font-header: "Trebuchet MS";
  --font-body: "Tahoma";
  --font-small: "Pixelated MS Sans Serif",Arial; /* options: Windows / W95FA / Pixelated MS Sans Serif */
  
  --font-primary: "Tahoma", bold;
  --font-headline: var(--font-body);  
  --font-code: "Perfect DOS VGA 437 Win";

  --font-display: var(--font-primary);

  --explorer-background: linear-gradient(120deg, rgba(255,255,255,1) 0%, rgba(240,231,202,1) 100%); 
  --explorer-box-shadow: inset 1px 1px 0px 0px rgba(245,243,238,1), inset -1px -1px 0px 0px #d1cebe;

  /* mentioned */
  /* --mention-foreground: rgb(75, 210, 0); */
  /* --mention-background: rgba(0, 255, 0, 0.2); */
  --background-mentioned: linear-gradient(to right, rgb(182, 244, 146), rgba(51, 139, 147, 0));

  /* settings */
  --light-settings-background: #E6EAD8;
  --light-settings-sidebar-background: linear-gradient(0deg, rgba(98,119,215,1) 0%, rgba(130,162,211,1) 100%);
  --dark-settings-background: linear-gradient(0deg, rgba(96,119,218,1) 0%, rgba(108,122,198,1) 100%); ;
  --dark-settings-sidebar-background: linear-gradient(0deg, rgba(98,119,215,1) 0%, rgba(130,162,211,1) 100%);
  --background-modifier-hover: #d2dbfc;
  --light-channel-background:linear-gradient(to top, #5868a8, #5868a8, #5868a8, #5868a8, #ffffff);


	
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {

    font-size: 11px;

}

/* -=-=- WINDOWS TITLEBAR -=-=- */
.typeWindows__5fa63 {
  background: url(https://leafinguh.github.io/msn7-disc/final/titleandborder/msnsmall.png),
			  url(https://leafinguh.github.io/msn7-disc/final/titleandborder/windowtitle-left.png),
			  url(https://leafinguh.github.io/msn7-disc/final/titleandborder/windowtitle-right.png),
			  url(https://leafinguh.github.io/msn7-disc/final/titleandborder/windowtitle-middle.png);
			  
  background-repeat: no-repeat, no-repeat, no-repeat, repeat-x;
  background-size: 50px 21px, 8px 100%, 8px 100%, 1px 100%;
  background-position: bottom 2px left 8px, bottom left, bottom right, bottom center;
  height:25px;
  position:relative;
  padding:0px;
  margin:0px;
}

/* BORDERS AHHHHHHHHH */
.appAsidePanelWrapper__714a6 {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    min-height: 0;
	position:relative;
    padding: 0px 3px 3px 3px;
	background:
	url(https://leafinguh.github.io/msn7-disc/final/titleandborder/bottomleftborder.png),
	url(https://leafinguh.github.io/msn7-disc/final/titleandborder/bottomrightborder.png),
	url(https://leafinguh.github.io/msn7-disc/final/titleandborder/bottomborder.png),
	url(https://leafinguh.github.io/msn7-disc/final/titleandborder/leftborder.png),
	url(https://leafinguh.github.io/msn7-disc/final/titleandborder/rightborder.png);
	background-repeat: no-repeat, no-repeat, repeat-x, repeat-y, repeat-y;
	background-position: bottom left, bottom right, bottom, left, right;
	background-color: rgba(0,255,0,1);
}

.bg__12180 {
  background-color: transparent;
}

/* Discord wordmark */
.wordmarkWindows__05c46 {
  color: transparent;
}

/* window button sizes */
.winButtonClose__73489,
.winButtonMinMax__72f36,
.winButton__88672 {
  width: 19px;
  height: 20px;
  top:0px;
  position:relative;
  margin-top: 5px;
}

/* Exit button */
.winButtonClose__73489 {
content: url(https://leafinguh.github.io/msn7-disc/final/titleandborder/windowtitle-close.png);
  width: 11px;
  height: 13px;
  margin-right:6px;
}
.winButtonClose__73489:hover {
content: url(https://leafinguh.github.io/msn7-disc/final/titleandborder/windowtitle-close.png);
  width: 11px;
  height: 13px;
}


/* Maximize button */
.winButtonMinMax__72f36 {
content: url(https://leafinguh.github.io/msn7-disc/final/titleandborder/windowtitle-maximize.png);
  width: 12px;
  height: 13px;
  margin-right:2px;
}
.winButtonMinMax__72f36:hover {
content: url(https://leafinguh.github.io/msn7-disc/final/titleandborder/windowtitle-maximize.png);
  background: transparent;
  width: 12px;
  height: 13px;
}

/* Minimize button */
.winButtonMinMax__72f36.winButton__88672:nth-child(4) {
content: url(https://leafinguh.github.io/msn7-disc/final/titleandborder/windowtitle-minimize.png);
  width: 10px;
  height: 13px;
}

.winButtonMinMax__72f36.winButton__88672:nth-child(4):hover {
content: url(https://leafinguh.github.io/msn7-disc/final/titleandborder/windowtitle-minimize.png);
  width: 10px;
  height: 13px;
}









/* SERVER SIDEBAR */
nav.wrapper_a7e7a8.guilds__2b93a {
background-image:url(https://leafinguh.github.io/msn7-disc/final/serversidebar/sideborderhack-left.png);
background-repeat:repeat-y;
background-color:rgba(236, 240, 245, 1);
background-position:right;
}	


/* pill remover */	
  .item_f9d377 {
    position: fixed;
    display: block;
    width: 5px;
    border-radius: 0%;
    margin-left: 0px;
    background-color: #ff180000;
    height: 6px !important;
    border: 0px solid #780080;
    background: linear-gradient(to bottom left,#259401, #1bff00);
    margin: -17px 0px 18px 44px;
  }

/* base server sidebar */
.tree__7a511 {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
	
}
.guilds__2b93a {
    position: relative;
    width: 36px;
    flex-shrink: 0;
}

/* icon */
.svg_ad7356 {
    contain: paint;
    box-sizing: border-box;
    position: absolute;
    top: 6px;
    left: 4px;
    width: 56px;
    height: 26px;
	padding: -0px 32px 0px 0px;	
}

/* server icon container */
.childWrapper__01b9c {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color.15s ease-out,color.15s ease-out;
    background-color: transparent;
    color: var(--text-normal);
}
.acronym_cd4809 {
    font-weight: 1;
	font-size:24px;
    line-height: 8px;
    white-space: nowrap;
	background-color:transparent;
}
.wrapper_d281dd:hover .childWrapper__01b9c, .wrapper_d281dd.selected_f5ec8e .childWrapper__01b9c {
    color: black;
    background-color: transparent;
}

.wrapper__3af0b {
    margin: 0px 32px 0px 0px;
    box-sizing: border-box;
    position: relative;
    width: 35px;
    height: 61px;
    cursor: pointer;
	
}

/*notif icon thingy*/
.numberBadge__50328 {
    display: flex;
    align-items: center;
    justify-content: center;
	background-color:orange !important;
	border:1px solid black;
	font-family: Tahoma, "Trebuchet MS", sans-serif;
	font-size:11px;
}

/* stupid fucking discord bar thing */



  .listItemWrapper__1f93b {
  mask: none;
    background: url(https://leafinguh.github.io/msn7-disc/final/serversidebar/server-unselected.png);
	background-position:left;
	width:35px;
	margin-top:4px;
	margin-bottom:4px;

}
.listItemWrapper__1f93b.selected_ad2d13 {
  mask: none;
    background: url(https://leafinguh.github.io/msn7-disc/final/serversidebar/server-selected.png);
		margin-top:4px;
	margin-bottom:4px;
}
 
 /* server thing */
.blobContainer__5ee50 {
    background: url(https://leafinguh.github.io/msn7-disc/final/serversidebar/server-unselected.png);
	background-position:left;
	width:35px;
	margin-top:4px;
	margin-bottom:4px;
}
.blobContainer__5ee50.selected__98d51 {
    background: url(https://leafinguh.github.io/msn7-disc/final/serversidebar/server-selected.png);
		margin-top:4px;
	margin-bottom:4px;
}

/* base server icon */
.listItem_fa7b36 {
	--custom-list-items-list-item-width: 35px;	
	z-index: calc(var(--reverse) * var(--index));
    position: relative;
    margin: 0px -2px -0px;
    display: flex;
    justify-content: center;
    width: var(--custom-list-items-list-item-width);
	left:3px;
}
.lowerBadge__669e7 {
    pointer-events: none;
    position: absolute;
    bottom: 24px;
    right: 2px;

    z-index: 2;
}
/* server folder stuff */
foreignObject[mask="url(#38d93441-c270-4e3f-9102-c0c0b46d28cc)"] {
}
.wrapper_ed1dea {
    position: relative;
    left: 16px;
    width: var(--custom-list-items-list-item-width);
}
.expandedFolderBackground__1bec6.collapsed__0a270 {
	position: absolute;	
    top: -28px;
    left: -16px;
    bottom: 0px;
    width: 50%;
	height: 34px;
	margin: auto;
	color:green;
	background-image:

					url(https://leafinguh.github.io/msn7-disc/final/serversidebar/folderend.png),
					url(https://leafinguh.github.io/msn7-disc/final/serversidebar/foldermiddle.png),
					url(https://leafinguh.github.io/msn7-disc/final/serversidebar/foldertop.png);
					/* url(httpds://leafinguh.github.io/msn7-disc/final/serversidebar/sideborderhack-left.png); */
	background-position: bottom, bottom, top;
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-size: auto, 35px 28px, auto;
	border-radius:0px;

}
.expandedFolderBackground__1bec6 {
	position: absolute;	
	width: 50%;
	left: -16px;
	height: calc(100% - 16px);
    background-image:
					url(https://leafinguh.github.io/msn7-disc/final/serversidebar/folderend.png),
					url(https://leafinguh.github.io/msn7-disc/final/serversidebar/foldertop.png),
					url(https://leafinguh.github.io/msn7-disc/final/serversidebar/foldermiddle.png);
					/* url(https://leafinguh.github.io/msn7-disc/final/serversidebar/sideborderhack-left.png); */
	background-position: bottom, top, bottom, right;
	background-repeat: no-repeat, no-repeat, no-repeat, repeat-y;
	background-size: auto, auto, 35px calc(100% - 8px),  4px 1px;
	border-radius:0px;

}
.closedFolderIconWrapper__7321f{
padding:0px;
}
.folder__17546{
background-color:rgba(255,0,0,0);
mask:none;
}
.folderIconWrapper__72239{
background-color:rgba(255,0,0,0) !important;
mask:none;
border-radius:0px;
}
.closedFolderIconWrapper__7321f .guildIcon__2e5ab{
border-radius:0px;
height:24px;
width:24px;
}
[class^="folderEndWrapper"] {

}	

[id^="folder-items-"] {
height:auto !important;

}

[id^="folder-items-"] .listItem_fa7b36 {
height:auto !important;
filter: hue-rotate(195deg) saturate(500%);
left:-13px;
top:-32px;
}
[id^="folder-items-"] div div .wrapper__3af0b {
filter: hue-rotate(-200deg) saturate(20%);
}
/* MAIN SIDEBAR */
.unreadMentionsIndicatorTop_ada847, .unreadMentionsIndicatorBottom_fdb943 {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
    overflow: hidden;
    padding: 8px;
    height: 40px;
    pointer-events: none;
    width: 50px;
    box-sizing: border-box;
}

[class^="unreadMentionsIndicator"] .bar_edc096 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 8px;
    line-height: 8px;
	font-family: Tahoma, "Trebuchet MS", sans-serif;
    font-weight: 1;
    color: black;
	background-color: rgb(255,255,225);
    height: 16px;
	left:-8px;
    cursor: pointer;
    text-transform: capitalize;
    border-radius: 6px;
	border: 1px solid rgb(0,0,0);
    pointer-events: auto;
    box-shadow: 0 0px 0px hsl(var(--black-500-hsl)/.24);
    -webkit-app-region: no-drag;
	opacity:1;
}
.unreadMentionsIndicatorTop_ada847{
    padding-top:0px;
}
.unreadMentionsIndicatorBottom_fdb943{
    bottom: -14px;
}
.text__467e0 {
    display: block;
}

.guildSeparator_dcb3cc{
height:6px;
position:relative;
left:-3px;
width:27px;
margin-top:2px;
margin-bottom:2px;
background: url(https://leafinguh.github.io/msn7-disc/final/serversidebar/grip.png);
background-position: left;
opacity:1;
}
.sidebar_ded4b5 {
	--background-secondary: rgba(255,255,255,1);
    display: flex;
    flex-direction: column;
    min-height: 0;
    width: 240px;
    flex: 0 0 auto;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}
.container__7c79d.clickable__2d589 {
	    height: 58px;
			background:
	url(https://leafinguh.github.io/msn7-disc/final/serversidebar/DMbarsearchleft.png),
	url(https://leafinguh.github.io/msn7-disc/final/serversidebar/DMbarsearchmiddle.png),
	url(https://leafinguh.github.io/msn7-disc/final/serversidebar/dmbarsearchright.png),
	url(https://leafinguh.github.io/msn7-disc/final/serversidebar/sideborderhack-right.png);
	background-repeat: no-repeat, no-repeat, no-repeat, repeat-y;
	background-size: auto, 185px 58px, auto, auto;
	background-position: left, left, right, right;
}



/* DM SIDEBAR */
.searchBar_e4ea2a {
    position: relative;
    z-index: 2;
    flex: 0 0 auto;
    padding: 0 10px;
    height: 58px;
    display: flex;
    align-items: center;
	border: none;
	left:-0px;
    box-shadow: none;
		background:
	url(https://leafinguh.github.io/msn7-disc/final/serversidebar/DMbarsearchleft.png),
	url(https://leafinguh.github.io/msn7-disc/final/serversidebar/DMbarsearchmiddle.png),
	url(https://leafinguh.github.io/msn7-disc/final/serversidebar/dmbarsearchright.png);
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-size: auto, 185px 58px, auto;
	background-position: left, left, right;
}

.searchBar_e4ea2a .searchBarComponent__22760 {
    width: 85%;
    height: 18px;
    overflow: hidden;
    border-radius: 0px;
    background-color: rgba(255,255,255,1);
	border:1px solid;
	border-color: rgba(127,157,185,1);
    box-shadow: none;
    color: var(--text-muted);
    text-align: left;
    text-overflow: ellipsis;
    font-size: 11px;
    font-weight: 500;
    line-height: 11px;
    white-space: nowrap;
	top:0px;
	left:5px
	position:relative;
}

.searchBar_e0c60b {
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    height: 18px;
    width: 144px;
    border-radius: 0px;
    box-shadow: none;
    cursor: text;
    overflow: hidden;
    padding: 0 2px;
    color: var(--text-normal);
    background: var(--bg-overlay-3,var(--background-tertiary));
}

.search_ac353c .DraftEditor-root {
    flex: 1;
    font-size: 11px;
    font-weight: 500;
    line-height: 11px;
    overflow: hidden;
    padding: 2px 0;
	    background-color: rgba(255,255,255,1);
}

.searchBar_e0c60b .icon__46425 {
    width: 16px;
	    background-color: rgba(255,255,255,1);
    height: 16px;
	content:url(https://leafinguh.github.io/msn7-disc/raw/topbar/search.png);
}

.full-motion .searchBar_e0c60b {
	border:1px solid;
	border-color: rgba(127,157,185,1);
}

.search_ac353c .DraftEditor-root .public-DraftEditorPlaceholder-root, .search_ac353c .DraftEditor-root .public-DraftEditor-content {
    box-sizing: content-box;
    padding-bottom: 20px;
    padding-left: 2px;
    padding-right: 2px;
	
}




.privateChannels__93473 {

    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    flex: 1;
    display: flex;
    flex-direction: column;
	background: url(https://leafinguh.github.io/msn7-disc/final/serversidebar/sideborderhack-right.png);
	background-repeat: repeat-y;
	background-position: right;
}

.scroller__4b984.thin_b1c063.scrollerBase_dc3aa9.fade_ba0fa0 {
	background: url(https://leafinguh.github.io/msn7-disc/final/serversidebar/sideborderhack-right.png);
	background-repeat: repeat-y;
	background-position: right;
}

section.panels__58331 {
	background:
	url(https://leafinguh.github.io/msn7-disc/final/othersidebar/profileleft.png),
	url(https://leafinguh.github.io/msn7-disc/final/othersidebar/profileright.png),
	url(https://leafinguh.github.io/msn7-disc/final/othersidebar/profilemid.png),
		url(https://leafinguh.github.io/msn7-disc/final/serversidebar/sideborderhack-right.png);;
	background-repeat: repeat-y, repeat-y, repeat-y, repeat-y;
	background-position: top left, top right, top, right;
	background-size: 7px 53px, 7px 53px, 227px 53px, auto;
}
.container_d667ff {
    color: var(--header-primary);
    font-size: 14px;
    font-weight: 500;
    padding: 8px;
    flex-shrink: 0;
    border-bottom: 1px solid var(--background-modifier-accent);
    background: transparent; 
}
.theme-light .panel_bd8c76, .theme-light .container_ca50b9 {
    background: transparent;
}


nav.privateChannels__93473 {
    background-color: rgba(255,255,255,1);

}

.overflow__87fe8 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
	font-size:12px !important;
}



.content__1a4fe {
	top:0px;
    min-width: 0;
    min-height: calc(100% - 21px);
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    position: relative;
}

.upperContainer__993ba {
height: 21px !important;
max-height: 21px !important;
position:relative;
top:0px;
justify-content:right;
}

.heading-md-semibold__574c7 {
    font-family: var(--font-display);
    font-size: 13px;
    line-height: 1.25;
    font-weight: 600;
}



/* main chat window */
.newMessagesBar__8b6d7 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 8px;
    line-height: 8px;
	font-family: Tahoma, "Trebuchet MS", sans-serif;
    font-weight: 1;
    color: black;
	background-color: rgb(255,255,225);
    height: 16px;
	left:calc(100% - 344px);
	top:38px;
    cursor: pointer;
    text-transform: capitalize;
    border-radius: 6px;
	border: 1px solid rgb(0,0,0);
    pointer-events: auto;
    box-shadow: 0 0px 0px hsl(var(--black-500-hsl)/.24);
    -webkit-app-region: no-drag;
	opacity:1;
}
.jumpToPresentBar__0ff7f {
    bottom: 0;
	background-color: rgb(255,255,225);
     border-radius: 6px;
	border: 1px solid rgb(0,0,0);
	opacity:1;
    padding-bottom: 8px;
	max-height:20px;
	min-height:20px;
	position:absolute;
}
.barButtonMain__0f5c6 {
    flex: 1 1 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    position: relative;
	color: black;
}
.barButtonAlt__4b48f.barButtonBase__8fa46 {
    flex: 1 1 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    position: relative;
	color: black;
	justify-content:flex-end;
}


.chatContent__5dca8 {

    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    min-height: 0;
    flex: 1 1 auto;

    background: var(--bg-overlay-chat,var(--background-primary));
		  background-image: url(https://leafinguh.github.io/msn7-disc/final/chatwindow/bg.png),linear-gradient(rgba(208, 222, 244,0.75), rgba(246,247,252,0.75),rgba(208,222,244,0.75));
  background-repeat: no-repeat, repeat-y;
  background-position: right bottom, top left, top left;
  opacity:1	;
}


/* custom top bar bullshit */
.children__32014:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0px;
    height: 100%;
}
.children__32014 {
    position: absolute;
    flex: 1 1 auto;
    display: flex;
    flex-basis: 0;
    align-items: flex-start;
    min-width: 100%;
    overflow: hidden;
}
.children__32014 .iconWrapper_af9215{
content:url(https://leafinguh.github.io/msn7-disc/final/button/select.png);
height:100%;
top:-2px;
}
.titleWrapper__482dc {
    margin: 0 8px 0 0;
    flex: 0 0 auto;
    min-width: auto;
	top:3px;
	position:relative;
}
.channelName_f5ab3a {
    box-sizing: border-box;
    flex: 0 1 auto;
    position: relative;
    padding: 0 4px 0 0;
    min-width: 0;
    max-width: 100%;
    margin-left: -6px;
	font-size:11px;
	max-height:21px;
}
.channelName_f5ab3a div, .channelName_f5ab3a input {
    font-family: var(--font-display);
    font-weight: 600;
	font-size:12px;
	max-height:21px;
	top:-6px;
}
.wrapper_edb6e0.avatar__7c789 {
	height:21px !important;
}
.wrapper_edb6e0.avatar__7c789 svg.mask__1979f.svg_f5b652 {
	height:100%;
	top:0px;
}
.wrapper_edb6e0.avatar__7c789 svg.mask__1979f.svg_f5b652 foreignObject{
	height:100%;
	width:100%;
}
.wrapper_edb6e0.avatar__7c789 svg.mask__1979f.svg_f5b652 rect{
	x:21;
	y:21;
}
/* channels n stuff*/
section.title_b7d661.container__11d72.themed_b152d4[aria-label="Channel header"] {
	height: 21px !important;
	min-height: 21px;

	background:
	url(https://leafinguh.github.io/msn7-disc/final/topbar/DMmainbarmiddle.png),
	url(https://leafinguh.github.io/msn7-disc/final/topbar/DMmainbarright.png);
	background-repeat:repeat-x,repeat-x;
	background-color:rgba(255,0,255,0);
	background-size:auto,auto;
	background-position:top left,top left;
}
.container__11d72.themed_b152d4[aria-label="Channel header"] .upperContainer__993ba .toolbar__88c63 {	
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    min-width: 0;
	position:relative;
	padding:32px;
	margin:0 -32px;
	min-height:58px;
		background:
	url(https://leafinguh.github.io/msn7-disc/final/serversidebar/DMbarsearchmiddle.png),
	url(https://leafinguh.github.io/msn7-disc/final/topbar/dmbarsearchright-mirrored.png),
	url(https://leafinguh.github.io/msn7-disc/final/serversidebar/searchbarbgrepeat.png),
	url(https://leafinguh.github.io/msn7-disc/final/serversidebar/searchbarbg.png);
	background-repeat:no-repeat,no-repeat;
	background-color:rgba(255,0,255,0);
	background-size: 100% 58px,57px auto, 300px 26px, 35px 26px;
	background-position:top right -217px, top left 160px, top 21px left 35px, top 21px left -0px;	
}

/* friends menu */
.section_efc22d {
	border: 1px solid rgb(172, 168, 153);
}
.container__11d72.themed_b152d4[role="navigation"] {
	height: 21px !important;
	min-height: 21px;
	left:-32px;
	background:
	url(https://leafinguh.github.io/msn7-disc/final/topbar/DMmainbarright.png),
	url(https://leafinguh.github.io/msn7-disc/final/topbar/DMmainbarmiddle.png);
	background-repeat:no-repeat,repeat-x;
	background-color:rgba(255,0,255,0);
	background-size:auto,auto;
	background-position:top left,top left;
}
.container__11d72.themed_b152d4[role="navigation"] .upperContainer__993ba .toolbar__88c63 {	
   flex: 0 0 auto;
    display: flex;
    align-items: center;
    min-width: 0;
	position:relative;
	padding:32px;
	margin:0 -32px;
	left:32px;
	min-height:58px;
		background:
	url(https://leafinguh.github.io/msn7-disc/final/serversidebar/DMbarsearchmiddle.png),
	url(https://leafinguh.github.io/msn7-disc/final/topbar/dmbarsearchright-mirrored.png);
	background-repeat:no-repeat,no-repeat;
	background-color:rgba(255,0,255,0);
	background-size: 100% 58px,57px auto, 300px 26px, 35px 26px;
	background-position:top right -47px, top left -10px, top 21px left 35px, top 21px left -0px;	
}
.item_e4ca95.item__48dda.selected__5711d.themed_b957e8 {
	border-image: url(https://leafinguh.github.io/msn7-disc/final/button/select.png);
    border-image-slice: 9 fill;
    border-image-width: 5px;
	height:16px;
	font-size:14px;
}
.item_e4ca95.item__48dda.themed_b957e8 {
	border-image: url(https://leafinguh.github.io/msn7-disc/final/button/unselect.png);
    border-image-slice: 9 fill;
    border-image-width: 5px;
		height:16px;
			font-size:14px;	
}
.tabBar__73938 .addFriend__80542.addFriend__80542.addFriend__80542 {
    background-color: var(--status-positive-background);
    color: green;
}





.peopleColumn__51df3 {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: hidden;
	margin:16px;
	left:4px;
	padding:4px;
	background:
	url(https://leafinguh.github.io/msn7-disc/final/serversidebar/sideborderhack-topleft.png),
	url(https://leafinguh.github.io/msn7-disc/final/serversidebar/sideborderhack-topright.png),
	url(https://leafinguh.github.io/msn7-disc/final/serversidebar/sideborderhack-bottomright.png),
	url(https://leafinguh.github.io/msn7-disc/final/serversidebar/sideborderhack-bottomleft.png),
	url(https://leafinguh.github.io/msn7-disc/final/serversidebar/sideborderhack-left.png),
	url(https://leafinguh.github.io/msn7-disc/final/serversidebar/sideborderhack-right.png),
	url(https://leafinguh.github.io/msn7-disc/final/serversidebar/sideborderhack-top.png),
	url(https://leafinguh.github.io/msn7-disc/final/serversidebar/sideborderhack-bottom.png);
	background-repeat:
	no-repeat,
	no-repeat,
	no-repeat,
	no-repeat,
	repeat-y,
	repeat-y,
	repeat-x,
	repeat-x;
	background-position:
	top left,
	top right,
	bottom right,
	bottom left,
	left,
	right,
	top,
	bottom;
	background-size:
	auto,
	auto,
	auto,
	auto,
	4px 100%,
	4px 100%,
	100% 4px,
	100% 4px;
	background-color:rgba(255,255,255,1);
}


.searchBar_ff8800 {
	border-radius:0px;
	border:1px solid rgba(131,150,195,1);
    margin: 7px 0px 7px 7px;
    flex: none;
    background: rgba(255,255,255,1);
	width:calc(100% - 14px);
	position:relative;
	order:1;
	height:21px;

}
.inner__999f6 {
    box-sizing: border-box;
    position: relative;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1px;
    min-width: 0;
    align-items: center;
	height:21px;
	top:-7px;
	font-size:11px;
	line-height:11px;
}

.medium__0fb5d .input__74754, .medium__0fb5d .tag__3ba94 {
	font-size:11px;
	line-height:11px;
    height: 21px;
    padding: 0 0px;
}
.medium__0fb5d .iconContainer__3af05 {
    width: 16px;
    height: 16px;
	content:url(https://leafinguh.github.io/msn7-disc/raw/topbar/search.png);
}
.peopleListItem_d14722 {
	max-height:48px;
    display: flex;
    flex-direction: column;
	box-shadow:none;
    margin-left: 30px;
    margin-right: 20px;
    font-size: 14px;
    line-height: 14px;
    overflow: hidden;
    box-sizing: border-box;
    cursor: pointer;
    border-top: 0px solid var(--background-modifier-accent);
}
.peopleListItem_d14722:hover {
	background:rgb(242,245,251);
	border-radius:1px;
	border:1px solid rgb(79,107,160);
    margin-left: 30px;
    margin-right: 20px;
	padding:0;
	left:-1px;
	position:relative;
}
.title_dc625c {
    margin: 16px 0px 0px 30px;
    color: rgb(0,0,117);
}
.itemCard__1f162 {

    border: 0px;
}

.container__5c7e7 .tabBody_b3d268 {
    background: var(--bg-overlay-chat,var(--background-primary));
	background-image: url(https://leafinguh.github.io/msn7-disc/final/chatwindow/bg_friends.png),linear-gradient(rgba(246,247,252,1),rgba(208,220,240,1), rgba(246,247,252,1));
  background-repeat: no-repeat, repeat-y;
  background-position: right 8px bottom 21px, top left, top left;
  opacity:1	;
}

.nowPlayingColumn_f5023f{
	--background-secondary: rgba(128,0,0,0);
    background: var(--background-secondary);
}
.nowPlayingColumn_f5023f .container__0a6a9{
	--background-secondary: rgba(128,0,0,0);
    background: var(--background-secondary);
}
.scroller__00e7e {
    padding: 0px;
    height: calc(100% - 30px);
    border-left: 0px solid var(--background-modifier-accent);
	top:0px;
	left:-8px;
	margin:16px;
	position:relative;

	padding:4px;

}
.header__123bf {
    font-family: var(--font-display);
    margin: 16px 0px 0px 16px;
	   color: rgb(0,0,117);
    font-size:14px;
}

.search__07df0 {
    margin: 0 8px;
    flex-basis: 100%;
	order:-1;
	left:-10px;
	top:1px;

	position:relative;
}
.open_d3ab4e .searchBar_e0c60b,.focused_ddee54 .searchBar_e0c60b{
	width:144px;
}

.iconWrapper_af9215 {
    position: relative;
    height: 58px;
    width: auto;
	top:-4px;
	flex: 0 0 0;
	padding: 0 0px;
}
.iconWrapper_af9215[aria-label="Help"] {
    content: url(https://leafinguh.github.io/msn7-disc/final/topbar/help.png);
}
.iconWrapper_af9215[aria-label="Inbox"] {
    content: url(https://leafinguh.github.io/msn7-disc/final/topbar/inbox.png);
}
.iconWrapper_af9215[aria-label="Show User Profile (Unavailable)"] {
    content: url(https://leafinguh.github.io/msn7-disc/final/topbar/profile.png);
}
.iconWrapper_af9215[aria-label="Show User Profile"] {
    content: url(https://leafinguh.github.io/msn7-disc/final/topbar/profile.png);
}
.iconWrapper_af9215[aria-label="Hide User Profile"] {
    content: url(https://leafinguh.github.io/msn7-disc/final/topbar/profile.png);
}
.iconWrapper_af9215[aria-label="Add Friends to DM"] {
    content: url(https://leafinguh.github.io/msn7-disc/final/topbar/invite.png);
}
.iconWrapper_af9215[aria-label="Pinned Messages"] {
    content: url(https://leafinguh.github.io/msn7-disc/final/topbar/pinned.png);
}
.iconWrapper_af9215[aria-label="Start Video Call"] {
    content: url(https://leafinguh.github.io/msn7-disc/final/topbar/video.png);
}
.iconWrapper_af9215[aria-label="Start Voice Call"] {
    content: url(https://leafinguh.github.io/msn7-disc/final/topbar/voice.png);
}
.iconWrapper_af9215[aria-label="New Group DM"] {
    content: url(https://leafinguh.github.io/msn7-disc/final/topbar/newgroupdm.png);
}
.iconWrapper_af9215[aria-label="Show Member List"] {
    content: url(https://leafinguh.github.io/msn7-disc/final/topbar/members.png);
}
.iconWrapper_af9215[aria-label="Hide Member List"] {
    content: url(https://leafinguh.github.io/msn7-disc/final/topbar/members.png);
}
.iconWrapper_af9215[aria-label="Notification Settings"] {
    content: url(https://leafinguh.github.io/msn7-disc/final/topbar/notif.png);
}
.iconWrapper_af9215[aria-label="Threads"] {
    content: url(https://leafinguh.github.io/msn7-disc/final/topbar/threads.png);
}
.divider_c09b64 {
    width: 0px;
    height: 24px;
    margin: 0 0px;
    flex: 0 0 auto;
    background: var(--background-modifier-accent);
}

/* chat type thing message box */
.themedBackground__6b1b6 {
	width:100%;
	height:100%;
}

.channelTextArea__2e60f {
    margin-bottom: 16px;
    background-color: var(--background-primary);

}

.scrollableContainer__33e06 {
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 50vh;
    border-radius: 7px;
    backface-visibility: hidden;
    scrollbar-width: none;
	border: 1px solid;
	padding-top:23px;
		padding-bottom:23px;
	background-image:
	url(https://leafinguh.github.io/msn7-disc/final/chatwindow/chatbar-top.png),
	url(https://leafinguh.github.io/msn7-disc/final/chatwindow/chatbar-bottom.png);
	background-repeat:repeat-x;
	background-position:top,bottom;
	border-color: rgba(78,107,160,1);
	background-color:rgba(255,255,255,0);
	opacity:0.7		;
}	

.base__512ed .typingDots_d92d42 {
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
	top:-5px;
}

/* all avatar icons*/
foreignObject[mask*="url(#"] {
    mask: none;
}
svg[class="mask__1979f svg_f5b652"] foreignObject[mask*="url(#"] {
	border-radius:6px;
	border:1px solid;	
	border-color:rgb(78, 107, 160);
}
.avatar-2e8lTP{
    border-radius: 0;
}
.wrapper_edb6e0 {
    /* position: relative; */
    border-radius: 50%;	
}
.avatar__7bd22 {

}

	.avatar__08316:not(.compact__54ecc) {

	    border-radius: 6px !important;
		border:1px solid !important;
		border-color:rgb(78, 107, 160) !important;


	
	}



.attachButton_eba568[aria-label="Upload a file or send invites"]{
  content: url(https://leafinguh.github.io/msn7-disc/final/chatwindow/photo.png);
  width:16px;
  height:16px;
  border-radius:0px;
border:0px solid;
  margin-left:00%;
  margin-right:-00%;
   margin-top:0px;
   margin-bottom:0px;
  padding:0;
  top:-20px;
  left:0px;
  position:relative;
}

.button_afdfd9[aria-label="Open GIF picker"] {
    content: url(https://numoder.github.io/dsn10-theme/assets/typing-form/gif.png);
			left:-8px;	
  border-radius:0px;
border:0px solid;
    width: 16px;
	top:0px;

}

.stickerButton__8af38 {
    content: url(https://numoder.github.io/dsn10-theme/assets/typing-form/sticker.png);
  border-radius:0px;
border:0px solid;
			position:relative;
			left:-8px;
    width: 16px;

}

.emojiButton__8ff6a {
    content: url(https://leafinguh.github.io/msn7-disc/final/chatwindow/emoji.png);
		left:-8px;
		width: 16px;
		height: 16px;
padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
	  border-radius:0px;
border:0px solid;
}

.emojiButton__8ff6a:hover {
    content: url(https://leafinguh.github.io/msn7-disc/final/chatwindow/emojiwink.png);
    height: 16px;
    width: 16px;
}

.button_afdfd9[aria-label="Send a gift"] {
    content: url(https://leafinguh.github.io/msn7-disc/final/chatwindow/gift.png);
    margin: 7px;
			left:-8px;
	    width: 18px;
		height:17px;
	top:7px;
	  border-radius:0px;
border:0px solid;
}

.buttons_ce5b56 {
	position:relative;
	top:-34px;
}

.typing__6fd1d {
    overflow: visible;
    margin-bottom: 16px;

}

/* search sidebar */
.searchResultsWrap__9f374 {
    width: 418px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    background-color: var(--background-secondary);
	height:calc(100% - 37px);
	top:37px;
}


/* dm sidebar */
.profilePanel__12596 {
    position: relative;
    width: 340px;
    height: calc(100% - 37px);
    top: 37px;
}

/* server/group sidebar */
.scroller_f0f183 {
	background: url(https://leafinguh.github.io/msn7-disc/final/serversidebar/sideborderhack-right.png);
	background-repeat: repeat-y;
	background-position: right;
}
.headerContent_ee8727.primaryInfo_b44f9d {
    top: 4px;
    position: relative;
    width: 85%;
}
.text-md-semibold__4cb23 {
    font-family: var(--font-primary);
    font-size: 12px;
    line-height: 1.25;
    font-weight: 600;
    justify-content: center;
}
.membersWrap__90226 {
    min-width: 240px;
    display: flex;
    position: relative;
    max-height: 100%;
    top: 37px;
    height: calc(100% - 37px);
}
.members__9f47b {
    background-color: rgb(255,255,255);
	background-image: url(https://leafinguh.github.io/msn7-disc/final/serversidebar/sideborderhack-left.png);
	background-repeat: repeat-y;
}

.membersGroup__85843 {
    padding: 16px 8px 0 16px;
    height: 40px;
	color:rgb(0,0,117);
} 
.member_b44d5d {
    background: white;
}
header.header__104ca {
	height:58px;
		border: none;
		box-shadow:none;
}
/* context menu */
.label__73cb9 {
    flex: 1 1 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 19px;
}
.layer_ec16dd {
}
.labelContainer_bc2861 {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
		min-height: 1px;
width:calc(100% - 8px);
    padding: 0;
}
.scroller__750f5 {
    padding: 0px 0px 0px 0px !important;
	left:4px;
	overflow:visible !important;
}
.separator__18122 {
	padding-bottom:2px;
width:calc(100% - 8px) !important;
}

.menu_dc52c6 {
    z-index: 1;
    box-sizing: border-box;
    display: flex;
    height: auto;
	overflow:visible;
    cursor: default;
    max-height: calc(2200vh);
    box-shadow: 2px 2px 2px #888888;
    background: var(--background-floating);
    border-radius: 0px;
	border: 1px solid rgb(172, 168, 153);
	
}
div[role="group"] {
	padding-left:0px;
}
div [role="separator"] {
    box-sizing: border-box;
    margin: 0px 0 0 0;
	width: calc(100% + 44px);
	position:relative;
	border-bottom: 1px solid rgb(172, 168, 153);
}
.icon_f09dde {
    width: 18px;
    height: 18px;
    opacity: 0;
}
.show-redesigned-icons .caret_ce50ce {
    width: 16px;
    height: 16px;
	background:url(https://leafinguh.github.io/msn7-disc/final/button/contextmenuarrow.png);
	background-position:center;
	background-repeat:no-repeat;
}
.show-redesigned-icons .caret_ce50ce path {
	d: path("");
opacity:1;
}
.button__3ecb4 {
	left:-10px;
	position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    padding: 0px;
    flex: 0 0 auto;
    cursor: pointer;
    border-radius: 0%;
	border: 1px solid rgb(172, 168, 153);
    background-color: white;
}
.button__3ecb4 .icon_babf0a {
    width: 16px;
    height: 16px;
}


/* SCROLL BAR */
/*.chat__52833 .content__1a4fe .chatContent__5dca8 .messagesWrapper_ea2b0b .scroller__1f96e::-webkit-scrollbar-thumb {
background: green;
border-radius:0px;
height:16px;
}
.chat__52833 .content__1a4fe .chatContent__5dca8 .messagesWrapper_ea2b0b .scroller__1f96e::-webkit-scrollbar-track-piece,
.chat__52833 .content__1a4fe .chatContent__5dca8 .messagesWrapper_ea2b0b .scroller__1f96e::-webkit-scrollbar {
background: red;
border-radius:0px;
}
.chat__52833 .content__1a4fe .chatContent__5dca8 .messagesWrapper_ea2b0b .scroller__1f96e::-webkit-scrollbar-button {
background: blue;
border-radius:0px;
}*/

/* lol user profile */
.userPopoutOuter_d739b2, .userProfileModalOuter__3fe6b{
	border:1px solid rgb(133,150,202);
	border-radius:6px;
}
.userProfileInnerThemedNonPremium__3d0a6 {
    background: linear-gradient(to bottom, 
								rgb(192,208,240),
								rgb(192,208,240) 60px,
								rgb(238,242,245) 82px,
								rgb(226,234,243));
}
.focusLock__10aa5 .root_ba16f0 div .userProfileModalOuter__3fe6b .userProfileInnerThemedNonPremium__3d0a6 {
    background: linear-gradient(to bottom, 
								rgb(192,208,240),
								rgb(192,208,240) 106px,
								rgb(238,242,245) 149px,
								rgb(226,234,243));

}

.userPanelInnerThemed__1804b .none__3919e.scrollerBase__2b744 {
    background: linear-gradient(to bottom, 
								rgb(192,208,240),
								rgb(192,208,240) 120px,
								rgb(238,242,245) 164px,
								rgb(226,234,243));
	border-left:1px solid rgb(133,150,202);
} 

.banner__6d414 {
}

.scroller__83262 {
    flex: 0 1 auto;
    min-height: 0;
    padding: 0;
	width:calc(100% + 10px);
}
.section__6f61e {
    padding-top: 12px;
	padding-left:8px;
	padding-right:8px;
}
.section__6f61e.section__76155.lastSection__37b97 {
	    background: linear-gradient(rgb(192,208,240),
								rgb(192,208,240) 0%,
								rgb(236,241,247) 100%);
								height:14px;
}

.section__6f61e.section__76155.lastSection__37b97 .inputWrapper__934f5.messageInputContainer__768e6  {
	    background: white;
		border:1px solid black;
		border-radius:0px;
		height:18px;
		top:-3px;
		position:relative;
}

.section__6f61e.section__76155.lastSection__37b97 .inputWrapper__934f5.messageInputContainer__768e6 input.inputDefault__80165.input_d266e7.messageInput__3b049.input__95bc4  {
		height:18px;
		font-size:11px;
		top:-2px;
		position:relative;
}


.overlayBackground__86b78, .userPopoutOverlayBackground_d8afa4 {
    margin: 2px 1px 0px;
    max-height: calc(100vh - 128px - var(--custom-user-popout-outside-components-height));
	background-color:transparent;
}

.collapseBtn_f82249 {
	border-image: url(https://leafinguh.github.io/msn7-disc/final/button/unselect.png);
    border-image-slice: 9 fill;
    border-image-width: 5px;
	padding:0px 0px 0px 8px;

	height:32px;

	font-size:14px;	
	border-radius:0px;
	margin:0px;
}
.mutualGuildsList__6e961, .mutualFriendsList__632b5 {
	width:calc(100% - 32px);
		left:16px;
		background-color:white;
	
    margin-bottom:0px;
		position:relative;
}

.connectionList_b09a10 {
    margin-bottom: 12px;
    margin-right: 0px;
	border:1px solid black;
}

.lookFilled__19298.colorGreen__5f181 {
    color: black;
    background-color: var(--button-positive-background);
		border-image: url(https://leafinguh.github.io/msn7-disc/final/button/unselect.png);
    border-image-slice: 9 fill;
    border-image-width: 5px;
	padding:0px 8px 0px 8px;
	margin-left:0px;
	align-items:center;
}

